<h1><%= @list.name %></h1>

<% if @list.photos.attached? %>
  <% @list.photos.each do |photo| %>
    <%= cl_image_tag photo.key, alt: "no pix", width: 200 %>
  <% end %>
<% end %>

<%= link_to 'New bookmark form', new_list_bookmark_path(@list) %>
