<h1><%= @list.name %></h1>

<% if @list.photo.attached? %>
  <%= cl_image_tag @list.photo.key, alt: "no pic", width: 200 %>
<% end %>

<%= link_to 'New bookmark form', new_list_bookmark_path(@list) %>
